@primary-color: #607D8B;
@primary-color-dark: #455A64;
@primary-color-light: #CFD8DC;
@text-color: #FFFFFF;
@accent-color: #FF5252;
@primary-text: #212121;
@secondary-text: #757575;
@divider-color: #BDBDBD;

@read-more-font-size: 15px;
@border-radius: 3px;

html, body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#455a64+0,607d8b+100 */
    // background-color: @primary-color-dark;
    background: @primary-color-dark;
    background: -webkit-linear-gradient(@primary-color-dark 0%, @primary-color 100%);
    background: -moz-linear-gradient(@primary-color-dark 0%, @primary-color 100%);
    background: -o-linear-gradient(@primary-color-dark 0%, @primary-color 100%);
    background: linear-gradient(@primary-color-dark 0%, @primary-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@primary-color-dark', endColorstr='@primary-color',GradientType=0 );
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: @primary-text;
}

.container {
    width: 80%;
}

header {
    color: @primary-color-light;
    padding: 50px;
    height: 100vh;

    & h1 {
        font-size: 3em;
        margin-bottom: 10px;
        padding: 0;
    }
    & h3 {
        font-size: 1.2em;
        margin-bottom: 50px;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
    }
    & strong {
        color: @text-color;
    }
    & .socials {
        display: block;
    }
    & .socials ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    & .socials li a,
    & .socials li a:link {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-right: 20px;
        background-color: @primary-color-light;
        color: @primary-color-dark;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50px;
        font-size: 25px;
        text-decoration: none;
        display: block;
        float: left;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
    }
    & .socials li:last-child {
        margin-right: 0;
    }
    & .socials li a:hover {
        background-color: @text-color;
        color: @primary-color-dark;
        text-decoration: none;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
    }
}

.row {
    margin-right: 0;
}

.main-content {
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: white;

    & a.back-to-home {
        color: @secondary-text;
        &:link {
            display: inline-block;
            margin-bottom: 20px;
            color: @accent-color;
            text-decoration: none;
            font-size: 1em;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
        }
        &:hover {
            color: @accent-color;
            text-decoration: none;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            margin-left: 5px;
        }
    }

    .post-list {
        padding: 0;
        margin: 0;

        & li {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-bottom: 30px;
            padding-bottom: 30px;
            display: block;
            height: auto;
            overflow: hidden;
            border-bottom: solid 1px @divider-color;

            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
                padding-bottom: 0;
            }
            &.featured {
                background-color: @primary-color-dark;
                padding: 40px 40px 30px 40px;
                color: @text-color;
                border-radius: @border-radius;
                -moz-border-radius: @border-radius;
                font-size: 1.5em;

                & .btn-read-more {
                    font-size: @read-more-font-size;
                    text-decoration: none;
                    display: inline-block;
                }
            }
        }

        & h1 {
            text-transform: uppercase;
            font-size: 1.5em;
            font-weight: normal;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;

            &.single-title {
                font-size: 2em;
                margin-bottom: 20px;
            }
        }
        div.single-title-bar {
            height: 5px;
            width: 30%;
            background-color: @accent-color;
            margin-bottom: 40px;
        }
        & summary {
            text-align: justify;
            display: block;
            margin-bottom: 15px;
        }
        & .btn-read-more {
            background-color: @accent-color;
            border-radius: @border-radius;
            -moz-border-radius: @border-radius;
            color: @text-color;
            font-size: @read-more-font-size;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-weight: bold;
            text-decoration: none;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            display: inline-block;

            &:hover {
                background-color: darken( @accent-color, 20% );
                transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
            }
        }

    }

}

footer {
    color: @primary-color-light;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}

#loading {
    color: @primary-color-dark;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;

    & > div {
        font-size: 3em;
        text-align: center;
        height: 100vh;
        vertical-align: middle;
        display: table-cell;
        width: 100vw;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);

        & > .fa {
            color: @primary-color-dark;
            font-size: 3em;
            margin-bottom: 30px;
            -webkit-animation: animation 1000ms linear infinite both;
            animation: animation 1000ms linear infinite both;
        }
    }
}

@media all and ( max-width: 375px ) {
    header {
        padding: 10px;
    }
}

@import 'animations.less';